*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

:root{
    --bg-color:#0f172a;
    --card-color:#1e293b;
    --text-color:#f8fafc;
    --navbar-color:#1f2937;
    --accent:#38bdf8;
}
#theme-toggle{
    display:none;
}

.theme-btn{
    cursor:pointer;
    font-size:1.5rem;
}

html{
    scroll-behavior:smooth;
}

body{
    background:var(--bg-color);
    color:var(--text-color);
    font-family:Arial,sans-serif;
}
.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:20px 40px;

    background:var(--navbar-color);

    position:fixed;

    top:0;
    width:100%;
}
.navbar ul{
    display:flex;
    list-style:none;
    gap:20px;
}
.navbar a{
    text-decoration:none;

    color:var(--text-color);

    font-weight:bold;
}
.navbar a:hover{
    color:var(--accent);
}
.navbar a{
    text-decoration:none;
    color:var(--text-color);
    font-weight:bold;

    transition:0.3s;
}
#hero{
    
    height:100vh;

    display:flex;
    flex-direction:column;

    justify-content:center;
    align-items:center;

    text-align:center;

    
}
#hero h1{
    font-size:5rem;
    font-weight:700;
    line-height:1.1;
    margin-bottom:15px;
    background: linear-gradient(90deg, #38bdf8, #f755c9);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#hero p{
    font-size:1.5rem;
    opacity:0.8;
}
@media (max-width:768px){
    #hero h1{
        font-size:3rem;
    }
    #hero p{
        font-size:1rem;
    }
    .project-grid{
        grid-template-columns:1fr;
    }

}
#projects{
    padding:100px 50px;
}
#projects h2{
    text-align:center;

    font-size:3rem;

    margin-bottom:50px;
}
.project-grid{
    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:30px;
}
.card{
    background:var(--card-color);

    padding:30px;

    border-radius:15px;

    text-align:center;
}
.card{
    box-shadow:
    0 4px 15px rgba(0,0,0,0.3);
}
.card{
    transition:0.3s;
}
.card:hover{
    transform:translateY(-10px);
}
#contact{
    padding:100px 50px;
}
#contact h2{
    text-align:center;

    font-size:3rem;

    margin-bottom:40px;
}
form{
    max-width:600px;

    margin:auto;

    display:flex;

    flex-direction:column;

    gap:20px;
}
input,
textarea{
    background:var(--card-color);
    color:var(--text-color);
    padding:15px;

    border:none;

    border-radius:10px;

    font-size:1rem;
}
button{

    padding:15px;

    border:none;

    border-radius:10px;

    background:var(--accent);

    font-size:1rem;

    cursor:pointer;
}
input:focus,
textarea:focus{

    outline:2px solid var(--accent);

}
button{
    transition:0.3s;
}
button:hover{
    transform:translateY(-3px);
}
footer{

    padding:30px;

    background:var(--navbar-color);

    text-align:center;
    color:var(--text-color);
}
footer p{
    color:var(--text-color);
}
.social-links{

    margin-top:15px;

    display:flex;

    justify-content:center;
    align-items:center;
    flex-wrap:wrap;

    gap:20px;

}
.social-links a{

    color:var(--text-color);

    text-decoration:none;

    transition:0.3s;

}
.social-links a:hover{

    color:var(--accent);

}
.back-to-top{
    display:inline-block;
    
    color:var(--text-color);
    text-decoration:none;
    
}

.back-to-top:hover{
    color:var(--accent);
}
.logo{
    font-size: 2rem;
    font-weight: bold;

    background: linear-gradient(
        90deg,
        #4facfe,
        #ff6ec7
    );

    background-clip: text;
    -webkit-text-fill-color: transparent;

    transition: 0.4s;
}
.logo:hover{
    transform: rotate(5deg) scale(1.05);
}
@media (max-width: 768px){

    #hero h1{
        font-size: 3rem;
    }

    #hero p{
        font-size: 1.2rem;
    }

    .project-grid{
        grid-template-columns: 1fr;
    }

    .navbar{
        flex-direction: column;
        padding: 15px;
    }

    .navbar ul{
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}
.page{
    min-height:100vh;
        background:var(--bg-color);
        color:var(--text-color);
        font-family:Arial,sans-serif;
}
#theme-toggle:checked ~ .page{
    --bg-color:#f8fafc;
    --card-color:#f3f4f6;
    --text-color:#111827;
    --navbar-color:#d1d5db;
}
.theme-btn{
    cursor:pointer;
    font-size:1.5rem;
}
section{
    scroll-margin-top:100px;
}
.theme-btn{
    cursor:pointer;
    font-size:1.5rem;
    transition:0.3s;
}
#theme-toggle:checked ~ .page .theme-btn{
    transform:rotate(180deg);
}